html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    height: 100%;
}

.ui {
    font-size: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: url('') center center no-repeat;
    background-size: cover;
    background: #232323;
}

.main {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 70%;
    font-size: 2vw;
}

.moves {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: relative;
}

.quesion {
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
    position: relative;
}

.ask {
    width: 100%;
    height: 70%;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.ask_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.23);
}

.quiz {
    position: relative;
    height: auto;
    width: 100%;
}

.answer {
    width: 100%;
    height: 30%;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
}

.answer_variants {
    /* background: red;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70px;
    text-align: center;
}

.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.controls_frame {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    height: 130px;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bd {
    outline: none;
    border: none;
}

.side {
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 1px);
    border-left: 1px solid #eee;
    height: 100%;
}

.inventory {
    height: auto;
    border-bottom: 1px solid #eee;
    font-size: 0;
    text-align: right;
    position: relative;
    background: #443266;
}

.inventory_item_block {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 72px;
    height: 36px;
    position: relative;
    margin: 10px 10px 10px 10px;
    text-align: left;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.item_icon {
    width: 36px;
    height: 36px;
    background: red;
    display: inline-block;
    vertical-align: middle;
}

.item_mushroom {
    background: url('https://vignette.wikia.nocookie.net/nintendo/images/e/e3/1_Up_Mushroom_Icon.png/revision/latest?cb=20120820190914&path-prefix=en');
    center center no-repeat;
    background-size: cover;
}

.item_qty {
    display: inline-block;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    color: #fff;
}

.hint {
    position: relative;
    height: calc(100% - 57px);
    background: #eee;
}

.hint_box {
    width: 100%;
    height: 100%;
    position: relative;
}

.hint_data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.77);
}

.hint_header {
    font-size: 2.2vw;
    line-height: 5vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.hint_body {
    font-size: 1.5vw;
    line-height: 2.2vw;
}


/* buttons */

.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button {
    position: relative;
    width: 120px;
    padding: 20px 0px 16px 0px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 22px;
    color: #FFF;
    text-decoration: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.action-button-nav {
    position: relative;
    /*width: 130px;*/
    padding: 40px 30px 40px 30px;
    margin: 0px 30px 0px 30px;
    border-radius: 20px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 40px;
    color: #FFF;
    text-decoration: none;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.blue {
    background: linear-gradient(#229fff, #107dac);
    border-bottom: 5px solid #005073;
    text-shadow: 0px -2px #2980B9;
}

.red {
    background: linear-gradient(yellow, orange);
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green {
    background: linear-gradient( #82BF56, #7fbf7f);
    /*background-color: #82BF56;*/
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow {
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.action-button-nav:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

;